@page "/add"
@using BlazorApp2.Shared;
@inject HttpClient Http
@inject NavigationManager Navigation
@inject IJSRuntime JS

<PageTitle>A単adir Contacto</PageTitle>

<h1>A単adir Contacto</h1>

<p>Ingresa los datos para a単adir un nuevo contacto</p>

<div class="FormCss">
    <EditForm Model="@_contact" OnValidSubmit="Post">
        <DataAnnotationsValidator />
        <ValidationSummary />
            <div class="form-floating mb-3" style="height: 45px; width: 220px;">
                <InputText id="name" class="form-control" @bind-Value="_contact.name"/>
                <label for="name">Nombre</label>
            </div>
                <br>
            <div class="form-floating mb-3" style="height: 45px; width: 220px;">
                <InputText id="phone" class="form-control" @bind-Value="_contact.phone"/>
                <label for="phone">Telefono</label>
            </div>
                <br>
            <div class="form-floating mb-3" style="height: 45px; width: 220px;">
                <InputText id="cellPhone" class="form-control" @bind-Value="_contact.cellPhone"/>
                <label for="cellPhone">Celular</label>
            </div>
                <br>
            <div class="col-12">
                <button class="btn btn-success" type="submit">A単adir</button>
            </div>
    </EditForm>
</div>

@code
{
    private Contact _contact = new();
    private async Task Post()
    {
        await Http.PostAsJsonAsync<Contact>("/api/Contact", _contact);
        Navigation.NavigateTo($"/listContact");
    }
}