@page "/add"
@using BlazorApp2.Shared;
@inject HttpClient Http
@inject NavigationManager Navigation

<PageTitle>A単adir Contacto</PageTitle>

<h1>A単adir Contacto</h1>

<p>Ingresa los datos para a単adir un nuevo contacto</p>

<div class="FormCss">
    <EditForm Model="@_contact" OnValidSubmit="Post">
        <DataAnnotationsValidator />
        <ValidationSummary />
            <div class="form-floating mb-3" style="height: 45px; width: 220px;">
                <InputText @ref= "name" id="name" class="form-control" @bind-Value="_contact.name"/>
                <label for="name">Nombre</label>
            </div>
                <br>
            <div class="form-floating mb-3" style="height: 45px; width: 220px;">
                <InputText @ref= "phone" id="phone" class="form-control" @bind-Value="_contact.phone"/>
                <label for="phone">Telefono</label>
            </div>
                <br>
            <div class="form-floating mb-3" style="height: 45px; width: 220px;">
                <InputText @ref= "cellPhone" id="cellPhone" class="form-control" @bind-Value="_contact.cellPhone"/>
                <label for="cellPhone">Celular</label>
            </div>
                <br>
            <div class="col-12">
                <button class="btn btn-success" type="submit">A単adir</button>
            </div>
    </EditForm>
</div>

@code
{
    InputText name;
    InputText phone;
    InputText cellPhone;
    private Contact _contact = new();
    public static int sizeActually = 0;
    private async Task Post()
    {
        if (Index.sizeContact > 0 && sizeActually < Index.sizeContact)
        {
            HttpResponseMessage responseMessage = await Http.PostAsJsonAsync<Contact>("/api/Contact", _contact);

            if (responseMessage.IsSuccessStatusCode)
            {
                sizeActually++;
                Navigation.NavigateTo($"/listContact");
            }
        }
    }
}