@page "/add"
@using BlazorApp2.Shared;
@inject HttpClient Http
@inject NavigationManager Navigation

<PageTitle>Añadir Contacto</PageTitle>

<h1>Añadir Contacto</h1>

<p>Ingresa los datos para añadir un nuevo contacto</p>

<div class="FormCss">
    <EditForm Model="@_contact" OnValidSubmit="Post">
        <DataAnnotationsValidator />
            <div class="form-floating mb-3" style="height: 45px; width: 220px;">
                <InputText id="name" class="form-control" placeholder="Leave a name here" @bind-Value="_contact.name"/>
                <label for="name">Nombre</label>
                <ValidationMessage For= "(()=> _contact.name)"/>
            </div>
                <br>
            <div class="form-floating mb-3" style="height: 45px; width: 220px;">
                <input type="tel" id="phone" class="form-control" placeholder="Leave a phone here" @bind-value="_contact.phone" />
                <label for="phone">Telefóno</label>
            </div>
                <br>
            <div class="form-floating mb-3" style="height: 45px; width: 220px;">
                <input type="tel" id="cellPhone" class="form-control" placeholder="Leave a cellphone here" @bind-value="_contact.cellPhone" />
                <label for="cellPhone">Celular</label>
            </div>
                <br>
            <div class="col-12">
                <button class="btn btn-success" type="submit">Añadir</button>
            </div>
    </EditForm>
</div>

@code
{
    private Contact _contact = new();
    private async Task Post()
    {
        await Http.PostAsJsonAsync<Contact>("/api/Contact", _contact);
        Navigation.NavigateTo($"/listContact");
    }
}