@page "/availableContact"
@using BlazorApp2.Shared;

<PageTitle>Espacios Disponibles</PageTitle>

<h1>Espacios Disponibles</h1>

@* <div class="alert alert-primary mt-4">
    <span class="text-nowrap">
        El número de contactos que puedes seguir añadiendo es: &nbsp; @spaces &nbsp;
        <span class="oi oi-person me-2"/>
    </span>
</div> *@

<div class="alert alert-primary mt-4">
    @if (Add.sizeActually == Index.sizeContact)
    {
        <span class="oi oi-circle-x me-2">
            <span class="text-danger">
                Ya no cuentas con espacio disponible para añadir más contactos
            </span>
        </span>
    } else{
        <span class="text-success">
            El número de contactos que puedes seguir añadiendo es: &nbsp; @spaces &nbsp;
        </span>
        <span class="oi oi-person me-2"/>
    }
</div>

@code
{
    private Contact contact = new();
    private int spaces = Index.sizeContact-Add.sizeActually;
}