@page "/deleteContact"
@using BlazorApp2.Shared;
@inject HttpClient Http
@inject NavigationManager Navigation

<PageTitle>Eliminar Contacto</PageTitle>

<h1>Eliminar Contacto</h1>

<p>Ingresa el nombre del contacto que quieres eliminar</p>

<div class="FormCss">
    <EditForm Model = "@_contact" OnValidSubmit="@DeleteContact">
    <DataAnnotationsValidator />
            <div class="form-floating mb-3" style="height: 45px; width: 220px;">
                <InputText id="name" class="form-control" @bind-Value="_contact.name"/>
                <label for="name">Nombre</label>
                <ValidationMessage For= "(()=> _contact.name)"/>
            </div>
            <br>
            <div class="col-12">
                <button class="btn btn-danger" @onclick = "DeleteContact">Eliminar Contacto</button>
            </div>
    </EditForm>
</div>

@code
{
    private Contact _contact = new();
    private async Task DeleteContact()
    {
        HttpResponseMessage responseMessage = await Http.DeleteAsync($"/api/Contact/" + _contact.name);

        if (responseMessage.IsSuccessStatusCode)
        {
            Add.sizeActually--;
            Navigation.NavigateTo($"/listContact");
        }
    }
}