@page "/existsContact"
@using BlazorApp2.Shared;
@inject HttpClient Http
@inject NavigationManager Navigation

<PageTitle>Contacto Existente</PageTitle>

<h1>Contacto Existente</h1>

<p>Ingresa el nombre del contacto a buscar</p>

<div class="FormCss">
    <EditForm Model = "@_contact" OnValidSubmit="@ExistContact">
    <DataAnnotationsValidator />
    <ValidationSummary />
        <div class="row gy-2 gx-3 align-items-center">
            <div class="col-auto">
                <div class="form-floating">
                    <InputText id="name" class="form-control" @bind-Value="_contact.name"/>
                    <label for="name">Nombre</label>
                </div>
            </div>
            <div class="col-auto">
                <div>
                    <button class="btn btn-success" type="submit" @onclick = "ExistContact">Buscar</button>
                </div>
            </div>
        </div>
    </EditForm>
</div>

<div class="alert alert-secondary mt-4">
    @if (!contact)
    {
        <span class="oi oi-circle-x me-2">
            <span class="text-danger">
                @message
            </span>
        </span>
        } else{
        <span class="oi oi-action-undo me-2">
            <span class="text-success">
                @message
            </span>
        </span>
    }
</div>

@code
{
    private Contact _contact = new();
    private bool contact;
    private string message = "";
    private async Task ExistContact()
    {
        try{
            contact = await Http.GetFromJsonAsync<bool>("/api/Contact/exist/" + _contact.name);

            if (!contact)
            {
                message = "El contacto que buscas no existe. Intenta con otro o revisa ortografía.";
            } else {
                message = "El contacto si existe en tu agenda telefónica.";
            }
        } catch(Exception){
        }
    }
}