@page  "/ListContact"
@using BlazorApp2.Shared;
@inject HttpClient Http
@inject NavigationManager Navigation

<PageTitle>Listar Contactos</PageTitle>

<h1>Listar Contacto</h1>

<p>Estos son tus contactos</p>

@if (_contacts == null)
{
    <p><em>Obteniendo los datos...</em></p>
}
else
{
    <table class="table table-striped">
        <thead>
            <tr>
                <th>#</th>
                <th>Nombre </th>
                <th>Telefóno </th>
                <th>Celular </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var contact in _contacts)
            {
                <tr>
                    <td>@contact.id</td>
                    <td>@contact.name</td>
                    <td>@contact.phone</td>
                    <td>@contact.cellPhone</td>
                </tr>
            }
        </tbody>
    </table>
    <div>
        <button class="btn btn-success" @onclick="Create">Añadir Contacto</button>
    </div>
}

@code
{
    private List<Contact> _contacts;
    protected override async Task OnInitializedAsync()
    {
        _contacts = await Http.GetFromJsonAsync<List<Contact>>("https://localhost:7086/api/Contact");
    }
    private void Create()
    {
        Navigation.NavigateTo($"/add");
    }
}