@page "/addContact"
@using Data


<PageTitle>Añadir Contacto</PageTitle>

<h1>Añadir Contacto</h1>

<p>Ingresa los datos para añadir un nuevo contacto</p>

<div class="form-floating mb-3">
    <input type="name" class="form-control" id="floatingInput" required >
    <label for="floatingInput">Nombre</label>
</div>
<div class="form-floating mb-4">
    <input type="number" class="form-control" id="floatingPhone" >
    <label for="floatingPhone">Telefóno</label>
</div>
<div class="form-floating">
    <input type="number" class="form-control" id="floatingCellPhone" >
    <label for="floatingCellPhone">Celular</label>
</div>

@* <EditForm Model="@Contact">
    <table class="table">
        <tr>
            <td>Nombre: </td>
            <td><input type="text" @bind="Contact.Name" /></td>
        </tr>
        <tr>
            <td>Telefóno: </td>
            <td><input type="text" @bind="Contact.Name" /></td>
        </tr>
        <tr>
            <td>Celular: </td>
            <td><input type="text" @bind="Contact.Name" /></td>
        </tr>
    </table>
</EditForm> *@