@page "/existsContact"

<PageTitle>Contacto Existente</PageTitle>

<h1>Contacto Existente</h1>

<p>Ingresa el nombre del contacto a buscar</p>

<div class="form-floating mb-3" style="height: 45px; width: 220px;">
    <input class="form-control" placeholder="Leave a name here" id="floatingTextName" required >
    <label for="floatingTextName">Nombre</label>
</div>

<table class="table table-stripede">
        <tr>
            <th>Nombre </th>
            <th>Telefóno </th>
            <th>Celular </th>
        </tr>
</table>