@page "/foundContact"

<PageTitle>Buscar Contacto</PageTitle>

<h1>Buscar Contacto</h1>

<p>Ingresa el nombre del contacto a buscar</p>

<form class="form-floating">
    <input type="name" class="form-control" id="floatingInput" required>
    <label for="floatingInput">Nombre</label>
</form>

<table class="table table-stripede">
        <tr>
            <th>Nombre </th>
            <th>Telefóno </th>
            <th>Celular </th>
        </tr>
</table>
