@page "/listContact"

<PageTitle>Listar Contactos</PageTitle>

@using PhoneBook

<h1>Listar Contacto</h1>

<p>Estos son tus contactos</p>


<table class="table table-striped">
        <tr>
            <th>Nombre </th>
            <th>Telefóno </th>
            <th>Celular </th>
        </tr>
</table>